body {
  overflow-x: hidden;
}
a, p, h4{
  font-family: Roboto;
}
a{
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #CCFF00;
}

.margin-per {
  margin-top: 10%;
}

/* Agrega esto en tu CSS */
:root {
  --vh: 100vh; /* valor por defecto */
}

/* Usa esta variable para alturas basadas en el viewport */
.fondo, .introduction {
  height: calc(var(--vh, 1vh) * 100);
}

.method-input{
  border-radius: 15px;
  height: 2.4em;
  background-color: #FFE5FE;
}

.privacy-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}

.privacy-banner p {
  display: inline;
}

.privacy-banner button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;
}

.contenedor-formulario{
  margin-top: 250px;
}

.titulo-formulario h4{
  color: #fff;
  font-weight: bolder;
  font-size: xx-large;
  border: 0px;
  border-radius: 4px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.borde-formulario {
  border: 1px solid #fff;
  border-radius: 20px;
  background: rgb(24,19,31);
  background: linear-gradient(90deg, rgba(24,19,31,1) 0%, rgba(149,94,169,1) 35%, rgba(176,157,202,1) 100%);
}

.boton-formulario{
  background-color: #cafdfd;
  color: #000;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;;
  border-radius: 30px;
  padding: 8px 32px;
  width: 50%;
}

.boton-formulario:hover{
  background-color: #73f7f7;
  color: #fff;
  text-decoration: none;
}


.home{
  margin-top: 150px;
  height: 500px;
}

.navbar-opacity{
  opacity: 0.9;
}

.barra{
  width: 100%;
  height: 25px;
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(204,255,0,1) 50%, rgba(2,0,36,1) 90%);
  opacity: 0.9;
  border: 0.5px solid #68686b;
  border-radius: 25px;
}

.animaciones{
  opacity: 0.9;
  margin-top: 150px;
  margin-bottom: 150px;
}
.type-animation{
  margin-bottom: 150px;
}
.bg-about {
  background-color:#24202b;
}



.border-tecnologico{
  background-color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.introduction{
    width: 100%;
    height: 60vh;
}

.profilepic{
    width: 28rem;
    
}

.fondo{
    background-color: #3a3a3b;
    opacity: 0.8;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(to right, #68686b, #68686b 1px, #3a3a3b 1px, #3a3a3b);
    height: 100%;
}
/*.fondo-hor{
  background-color: #3A3A3B;
  opacity: 0.8;
  background-image: radial-gradient(#68686B 0.5px, #24202b 0.5px);
  background-size: 10px 10px;
  height: 100%;
  overflow-x: hidden;
}*/

.fondo-card{
  background-color: #24202b;
  margin-top: 0;
}

.overflow-tecnologias {
  overflow-x: hidden;
  margin-top: 100px;
}
.responsive-tecnologias{
  display: none;
}

/*.black{
  background-color: #68686b;
  opacity: 0.8;
  background-image: radial-gradient(#A7A7F9 0.5px, #68686b 0.5px);
  background-size: 10px 10px;
}*/

.about-text{
  font-size: 18px;
}

.linkpic{
    width: 25rem;
    height: auto;
    opacity: 0.9;
    border-radius: 10px;
    box-sizing: border-box;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            linear-gradient(90deg, #cdf13b 0%, #301f4b 60%, #301f4b 100%);
border-radius: 8px;
padding: 9px;
box-sizing: border-box;
border-radius: 8px;
padding: 9px;
box-sizing: border-box;
border-radius: 8px;
padding: 9px;
box-sizing: border-box;
border-radius: 8px;
padding: 9px;
box-sizing: border-box;
border-radius: 8px;
padding: 9px;
box-sizing: border-box;
    
}

.linkpic:hover {
  box-shadow: 20px 20px 50px 15px #000;
  opacity: 1;
}



.sombrita {
    border: 0px solid #000;
    box-shadow: 20px 20px 50px 15px #301f4b;
}

.navbarwidth {
    width: 100vh;
}

.bg-navbar {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(88,72,111,1) 50%, rgba(2,0,36,1) 100%);
  /*border-top: 1px solid #301f4b;
  border-bottom: 1px solid #301f4b;*/
}

.navbar-toggler {
  background-color: #9b82d0;
}


/*.checkbox-apple {
    position: relative;
    width: 50px;
    height: 25px;
    margin: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-apple label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .checkbox-apple label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label {
    background: linear-gradient(to bottom, #4cd964, #5de24e);
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label:after {
    transform: translateX(25px);
  }
  
  .checkbox-apple label:hover {
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  }
  
  .checkbox-apple label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }*/

  #tsparticles {
    position: absolute; /* O `fixed` si quieres que esté siempre visible en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Asegúrate de que no genere desplazamientos */
    z-index: -1; /* Ponlo detrás de otros elementos si es necesario */
  }
  

  .project-images {
    display: flex;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
  }
  
  .yep {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
  }

  .type-animation-font{
    font-size: 2em;
    color: #fff;
  }

  .punto{
    opacity: 0.9;
  }

  .res-punto{
    display: none;
  }

  .menu{
    width: 10px;
  }

  .boton-responsive{
    display: none;
  }

  #proyectos{
    height: 1000px;
  }

  #proyectos h4{
      padding-top: 100px;
  }

  #projects{
    height: 1000px;
  }

  #projects h4{
      padding-top: 100px;
  }

  .mobile-punto {
    display: none;
  }

  .animacion-responsive{
    display: none;
  }

  .mobile-tecnologias{
    display: none;
  }

  .mini-boton-responsive{
    display: none;
  }

 

  @media only screen and (max-width : 838px){

    /*.particles{
      display: none;
    }*/

    /*.responsive-background{
      background-color: #18131f;
      opacity: 1;
      background-image:  radial-gradient(#ccff00 0.5px, transparent 0.5px), radial-gradient(#ccff00 0.5px, #18131f 0.5px);
      background-size: 20px 20px;
      background-position: 0 0,10px 10px;
    }*/


    .about-text{
      font-size: 1rem;
    }

    /*.overflow-tecnologias {
      overflow-x: hidden;
      margin-top: 1000px;
    }*/
    .profilepic-container{
      margin-bottom: 300px;
      overflow-x: hidden;
    }

    .animacion-grande {
      display: none;
    }

    .animacion-responsive{
      display: inline;
    }

    .responsive-navbar{
      display: none;
    }

    .res-punto{
      display: none;
    }

    .mobile-punto{
      display: flex;
    }


    .btn {
      width: 150px;
      height: 50px;
      text-align: center;
      border-radius: 5px;
      border: none;
      transition: all 0.5s ease-in-out;
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
      display: flex;
      background: #4d11bd;
      color: #f5f5f5;
      margin-right: 100px;
      margin-left: 170px;
    }
    
    .btn:hover {
      box-shadow: 0 0 20px 0px #2e2e2e3a;
    }
    
    .btn .icon {
      position: absolute;
      height: 40px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
    }
    
    .btn .text {
     text-align: center;
    }
    
    .btn:hover .icon {
      width: 175px;
    }
    
    
    .btn:focus {
      outline: none;
    }
    
    .btn:active .icon {
      transform: scale(0.85);
    }

    .margin-per {
      margin-top: 20%;
    }

    
    

    /*.boton-responsive{
      height: 30px;
      width: 60px;
      border-radius: 8px;
      border: 1px solid #3f3f3f;
      transition: all 0.5s ease-in-out;
      font-size: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
      display: flex;
      background-color: #8c11bd;
      color: #f5f5f5;
      margin-right: 100px;
      margin-left: 170px;
    }*/

   
    
    
  
    .home{
      margin-top: 55px;
    }
    .second-project-pic{
      margin-top: 35px;
    }
    .overflow-tecnologias{
      margin-top: 0px;
      display: none;
     
    }
    .responsive-tecnologias{
      display: block;
      overflow-x: hidden;
      margin-top: 300px;
    }
    
  }

  /*@media only screen and (max-width : 835px){
    .responsive-tecnologias{
      display: block;
      overflow-x: hidden;
    }
  }*/

  @media only screen and  (max-width : 588px){
    .home{
      margin-top: 25px;
    }
    
    .profilepic-container{
      margin-top: 100px;
      overflow-x: hidden;
    }
    .profilepic{
      width: 20rem; 
    }
    .linkpic{
      width: 10px;
      height: auto;
      opacity: 0.9;
      border: 1px solid #fff;
  }
  .res-punto{
    display: none;
  }

  .second-project-pic{
    margin-top: 100px;
  }

  .animaciones{
    opacity: 0.9;
    margin-top: 0px;
    margin-bottom: 0px;
  }

    
    .responsive-tecnologias{
      display: none;
      
    }
    .mobile-tecnologias{
      display: block;
      padding-top: 400px;
      overflow-x: hidden;
      
    }
  }

  @media only screen and (max-width : 479px){
    .boton-responsive{
      display: none;
    }

  
  

  /*.mini-nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }*/
  .mini-boton-responsive{
      
    height: 30px;
    width: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #3f3f3f;
    transition: all 0.5s ease-in-out;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    background: #8c11bd;
    color: #f5f5f5;
    
    
  }
}

  @media only screen and (max-width : 992px){
    .home{
      margin-top: 45px;
    }
  }

  @media only screen and (max-width : 910px) {
    .res-punto{
      display: none;
    }
  }

  @media only screen and (max-width : 1080px){
    .project-images {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
      margin-bottom: 2000px;
    }
    .linkpic{
      width: 16rem;
      height: auto;
      opacity: 0.9;
      
  }
    .res-punto{
      display: flex;
    }
    .punto{
      display: none;
    }

    
  
  }

  @media only screen and (max-width : 1200px){
    .overflow-tecnologias {
      overflow-x: hidden;
      margin-top: 350px;
    }
  }

  .button {
    margin: 12px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background: #58486f;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 16px;
    color: rgb(255, 248, 248);
    transition: 500ms;
  }
  
  .button:hover {
    color: #CCFF00;
    background-color: #020024;
    transition: 500ms;
    box-shadow: #b3b3b3 1px;
  }

  /* CARD TEST CSS*/

  .cardtest {
    width: 190px;
    height: 120px;
    padding-top: 0.5rem;
    background: linear-gradient(45deg, #a0c21b, #720e9a);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(169, 250, 8, 0.808);
    border-left: 2px  rgba(169, 250, 8, 0.808) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: white;
  }

  .cardtest:hover {
    height: 275px;
    transform: skew(0deg);
    padding-bottom: 2rem;
  }

  .align {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }


  .cardtest h2 {
    text-align: center;
    padding-bottom: 0.75rem;
    color:#d2fe23;
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  }

  
 